<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav') %>

        <!-- <%= JSON.stringify(user) %>

            <%= JSON.stringify(blog) %> -->

        <div class="container  text-center mt-4">
            <div class="row row-cols-4 row-gap-4 column-gap-4">
                <% blog.forEach(e=> {%>
                    <div class="card col  " style="width: 18rem;">
                        <img src=" <%= e.coverImageUrl %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= e.title %>
                            </h5>
                            <p class="card-text">
                                <% if (e.body.length> 40) { %>
                                    <%= e.body.slice(0, 40) %>...
                                        <% } else { %>
                                            <%= e.body %>
                                                <% } %>
                            </p>
                            <a href="/blog/<%= e._id %>" class="btn btn-primary"> READ</a>
                        </div>
                    </div>
                    <%}); %>
            </div>
        </div>

        <%- include('./partials/script') %>
</body>

</html>